@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jack's Library</h1>
    <p class="lead">Possibly the best library in the world</p>
    <p><a href="/Home/Catalogue" class="btn btn-primary btn-lg">See our books</a></p>
</div>
